<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> первая страница</title>
</head>
<body>
   <h1><b>Марго Калас</b></h1>
       <p> Истоптан путь дороги бренной<br/>
           Не каждый в силах всё пройти<br/>
           Не каждому дано увидеть<br/>
           Тот сад с фонтаном в конце пути<br/></p>

       <p>Дорога дальняя, земная,<br/>
          Имеет множество углов<br/>
          Идёшь и день и ночь, не зная,<br/>
           Каков твой нынешний улов<br/></p>

    <p>Законы ведомы природе<br/>
    Судьбу сокрыли от живых<br/>
    Тропа истоптанных мозолей<br/>
    Сердец разбитых, надежд пустых!<br/></p>

    <p>И расстояние едино,<br/>
    Но скорость разная порой.<br/>
    Коса-старуха кропотливо<br/>
    Ведёт свой список душ земной.<br/></p>

    <p>Иль долго, коротко, шагая,<br/>
    Стремясь постичь гранит наук,<br/>
    Стремясь к богатству, стремясь к чеславию,<br/>
    Плетёшь ты сети, как паук.<br/></p>

    <p>Но в том саду, в концеп дороги,<br/>
    Тебя ждёт бездна и покой.<br/>
    Тебе сколотят гроб дубовый<br/>
    и крест поставят, лишь земной.<br/>
</p>

</body>
</html>